body { background: #ccffff }
h1 {text-align:center;color:black}
h2, h3,h4, h5,h6 {color: red;}
caption {
caption-side: top;
text-align: left;
padding: 5px 10; 
font-size: 20px;
}
table {background-image: radial-gradient(farthest-corner at 10% 20%, red, #DCECF8);}
p {background-image: linear-gradient(to top left, white, lightblue);}
img {border: 4px solid #2a6478;}
lI {list-style-image: linear-gradient(#FF7A2F 0, #FF7A2F 40%, #FFB214 80%);}
